<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-4 mt-2 ">
    <h1 class="mt-2 mt-md-4  pt-4">Crear Orden</h1>
</div>

<form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
    <!-- CLIENTE -->
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Buscar cliente</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar por DNI" name="filtroCliente"
                            [(ngModel)]="filtroCliente">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="filtrarCliente()" type="button">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <ng-container *ngIf="clientes == undefined">
                <div style="width: 100%; text-align: center;">
                    <p>Cliente No encontrado</p>
                </div>
            </ng-container>

            <ng-container *ngIf="clientes != undefined">
                <div>
                    <div class="row" *ngFor="let item of clientes">
                        <div class="col-md-3 form-group">
                            <label for="validationCustom01" class="form-label">Nombres</label>
                            <input disabled class="form-control" type="text" placeholder="Nombres" required
                                name="nombres" [value]="item.nombres">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="validationCustom01" class="form-label">Apellidos</label>
                            <input disabled class="form-control" type="text" placeholder="Apellidos" required
                                name="apellidos" [value]="item.apellidos">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="validationCustom01" class="form-label">Correo electrónico</label>
                            <input disabled class="form-control" type="email" placeholder="Correo electrónico" required
                                name="email" [value]="item.email">
                        </div>

                        <div class="col-md-3 form-group">
                            <label for="validationCustom01" class="form-label">Telefono</label>
                            <input disabled class="form-control" type="text" placeholder="Telefono" required
                                name="telefono" [value]="item.telefono">
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

    <!-- LIST PRODUCTS -->
    <div class="card box-shadow-sm">
        <div class="card box-shadow-sm">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h5 style="margin-bottom: 0px;">Filtro de productos</h5>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <a class="btn btn-warning" data-toggle="modal" [attr.data-target]="'#select-stock'">Agregar
                            Produco sin Stock</a>
                    </div>
                </div>
            </div>
            <!-- MODAL SIN STOCK -->
            <div class="modal fade" id="select-stock" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Producto sin Stock</h4>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        </div>
                        <!-- FORMULARIO SELECCION -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-8 form-group">
                                            <label for="">Nombre del Producto</label>
                                            <input type="text" class="form-control" placeholder="Nombre del producto"
                                                required name="nombre" id="nombre" [(ngModel)]="producto.nombre">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label for="">Precio</label>
                                            <input type="number" class="form-control" placeholder="$ 00.00" required
                                                name="precio" id="precio" [(ngModel)]="producto.precio">
                                        </div>
                                        <div class="col-lg-4 form-group mb-3">
                                            <label for="size">Talla</label>
                                            <ng-select [multiple]="true" class="" name="variedad" id="variedad"
                                                [(ngModel)]="producto.variedad" [items]="talla" bindLabel="name">
                                            </ng-select>
                                        </div>
                                        <div class="col-lg-4 form-group" *ngFor="let can of producto.variedad">
                                            <label for="">Cantidad {{can.name}}</label>
                                            <input type="number" (change)="total_sin_stock()" class="form-control"
                                                placeholder="0" required [name]="'cantidad'+ can.name"
                                                [(ngModel)]="can.cantidad">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label for="">Total</label>
                                            <input type="number" class="form-control" placeholder="0" required
                                                name="total" [(ngModel)]="producto.total">
                                        </div>
                                        <div class="col-lg-12 form-group">
                                            <label for="">Observaciones</label>
                                            <textarea class="form-control" placeholder="Observaciones" rows="5"
                                                name="observacion" [(ngModel)]="producto.observacion"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary btn-sm" type="button"
                                data-dismiss="modal">Cancelar</button>
                            <button *ngIf="!load_btn" class="btn btn-primary btn-shadow btn-sm" type="button"
                                (click)="agregar_producto_sin_stock()">Agregar
                                Producto</button>
                            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                                <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                                Agregando...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL SIN STOCK -->
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Titulo del producto" name="filtro"
                                [(ngModel)]="filtro">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"
                                    (click)="filtrarProducto()">Filtrar</button>
                                <button class="btn btn-info" type="button" (click)="resetar()">Resetear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Titulo</th>
                                <th>Stock</th>
                                <th>Precio</th>
                                <th>Categoria</th>
                                <th>Ventas</th>
                                <th>OP</th>
                            </tr>
                        </thead>

                        <tbody *ngIf="load_data">
                            <tr>
                                <td class="text-center" colspan="7">
                                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <ng-container *ngIf="!load_data">
                            <tbody
                                *ngFor="let item of productos | slice: (page-1)*pageSize : (page-1) * pageSize + pageSize">
                                <tr>
                                    <td>
                                        <h6 style="padding-bottom: 0;margin-bottom: 0;">
                                            <img style="width:50px" [src]="url +'obtener_portada/'+item.portada"
                                                class="img-thumbnail rounded-0" alt="Square image">
                                            {{item.titulo}}
                                        </h6>
                                    </td>
                                    <td>{{item.stock}}</td>
                                    <td>{{item.precio}}</td>
                                    <td>{{item.categoria}}</td>
                                    <td>{{item.nventas}}</td>
                                    <td>
                                        <div class="btn-group dropdown d-inline-block mb-3 mr-2">
                                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                                type="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">OPCIONES</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal"
                                                    [attr.data-target]="'#select-'+item._id">Seleccionar Producto</a>
                                            </div>
                                        </div>
                                        <!-- MODAL INIT -->
                                        <div class="modal fade" id="select-{{item._id}}" tabindex="-1"
                                            style="display: none;" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Producto: <b>{{item.titulo}}</b></h4>
                                                        <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close"><span
                                                                aria-hidden="true">×</span></button>
                                                    </div>
                                                    <!-- FORMULARIO SELECCION -->
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="row">
                                                                    <div class="col-lg-4 form-group">
                                                                        <label for="">Precio</label>
                                                                        <input type="number" class="form-control"
                                                                            disabled placeholder="$ 00.00" required
                                                                            name="precio" value="{{item.precio}}">
                                                                    </div>
                                                                    <div class="col-lg-4 form-group mb-3">
                                                                        <label
                                                                            for="size">{{item.titulo_variedad}}</label>
                                                                        <ng-select [multiple]="true" class="" id="size"
                                                                            name="variedad"
                                                                            [(ngModel)]="carrito_data.variedad"
                                                                            [items]="item.variedades"
                                                                            bindLabel="titulo">
                                                                        </ng-select>
                                                                    </div>

                                                                    <div class="col-lg-4 form-group"
                                                                        *ngFor="let can of carrito_data.variedad">
                                                                        <label for="">Cantidad {{can.titulo}}</label>
                                                                        <input type="number"
                                                                            (change)="total_con_stock(item.precio)"
                                                                            class="form-control" placeholder="0"
                                                                            required [name]="'cantidad'+ can.titulo"
                                                                            [(ngModel)]="can.cantidad">
                                                                    </div>
                                                                    <div class="col-lg-4 form-group">
                                                                        <label for="">Total</label>
                                                                        <input disabled type="number"
                                                                            class="form-control" placeholder="0"
                                                                            required name="total"
                                                                            [(ngModel)]="producto.total">
                                                                    </div>
                                                                    <div class="col-lg-12 form-group">
                                                                        <label for="">Observaciones</label>
                                                                        <textarea class="form-control"
                                                                            placeholder="Observaciones" required
                                                                            rows="5" name="observacion"
                                                                            [(ngModel)]="producto.observacion"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary btn-sm" type="button"
                                                            data-dismiss="modal">Cancelar</button>
                                                        <button *ngIf="!btn_cart"
                                                            class="btn btn-primary btn-shadow btn-sm"
                                                            (click)="agregar_producto(item, item._id)"
                                                            type="button">Agregar
                                                            Producto</button>
                                                        <button *ngIf="btn_cart" type="button" class="btn btn-secondary"
                                                            disabled>
                                                            <span class="spinner-grow spinner-grow-sm mr-2"
                                                                role="status" aria-hidden="true"></span>
                                                            Agregando...
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- MODAL FINISH -->
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="productos.length"></ngb-pagination>
            </div>
        </div>

        <div class="card-footer">
            <button *ngIf="!load_btn" [routerLink]="['/panel/pedidos']" class="btn btn-primary mr-3"
                type="submit">Guardar Pedido</button>
            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                Agregando...
            </button>
            <a class="btn btn-warning" (click)="obtenerPedidoCliente()" data-toggle="modal"
                [attr.data-target]="'#select-stock2'">Visualizar Orden</a>

            <!-- MODAL PARA VISUALIZAR EL PEDIDO -->
            <div class="modal fade" id="select-stock2" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Detalles de Orden:</h4>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Titulo</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th>Variedades</th>
                                                    <th>Total</th>
                                                    <th>Opt</th>
                                                </tr>
                                            </thead>

                                            <tbody *ngIf="load_data">
                                                <tr>
                                                    <td class="text-center" colspan="7">
                                                        <div class="spinner-border" style="width: 3rem; height: 3rem;"
                                                            role="status">
                                                            <span class="sr-only">Loading...</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                            <ng-container *ngIf="!load_data">
                                                <tbody *ngFor="let item of carrito_arr">
                                                    <tr>
                                                        <td>
                                                            <img style="width:50px"
                                                                [src]="url +'obtener_portada/'+item.producto.portada"
                                                                class="img-thumbnail rounded-0" alt="Square image">
                                                            <h6 style="padding-bottom: 0;margin-bottom: 0;">
                                                                {{item.producto.titulo}}
                                                            </h6>

                                                        </td>
                                                        <td>{{item.cantidad}}</td>
                                                        <td>${{item.producto.precio}}</td>
                                                        <td>
                                                            <span *ngFor="let data of item.variedad">
                                                                > {{data.titulo}}-{{data.cantidad}}<br>
                                                            </span>
                                                        </td>
                                                        <td>0.00</td>
                                                        <div class="btn-group dropdown d-inline-block mb-3 mr-2">
                                                            <button class="btn btn-outline-danger btn-sm mt-2 ml-2"
                                                                type="button" aria-haspopup="true" aria-expanded="false"
                                                                (click)="eliminar_item(item._id)">Eliminar</button>
                                                        </div>
                                                    </tr>
                                                </tbody>
                                            </ng-container>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                            <!--  <button *ngIf="!load_btn" class="btn btn-primary btn-shadow btn-sm" type="button">Agregar
                                Producto</button>
                            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                                <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                                Agregando...
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>